<launch>
    <node name="comms_node" pkg="steve_auv" type="comms_node">
        <param name="comms_mode_topic" value="/steve_auv/comms/mode"/>
        <param name="tcp_host" value="192.168.4.1"/>
        <param name="tcp_port" value="6677"/>
    </node>
    <node name="gnc_demo_node" pkg="steve_auv" type="gnc_demo_node">
        <param name="gnc_mode_topic" value="/steve_auv/gnc/mode"/>
        <param name="gnc_thrusters_topic" value="/steve_auv/gnc/thrusters"/>
    </node>
    <node name="mission_manager_demo_node" pkg="steve_auv" type="mission_manager_demo_node">
        <param name="comms_mode_topic" value="/steve_auv/comms/mode"/>
        <param name="gnc_mode_topic" value="/steve_auv/gnc/mode"/>
    </node>
</launch>
